* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: rgb(231, 225, 225);
  color: rgb(117, 115, 115);
  line-height: 1.5;
  font-size: 15px;
  overflow-x: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: 1030px) {
  .app-body {
    flex-direction: column;
  }
}